<template>
  <element-mask
    tag="input"
    :mask="mask"
    :value="value"
    @input="input"
  />
</template>

<script>
import ElementMask from './ElementMask'

export default {
  components: {
    ElementMask
  },

  props: {
    mask: String,
    value: null
  },

  methods: {
    input(event) {
      this.$emit('input', event.target.value)
    }
  }
}
</script>